<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('logout') }}">Salir</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
                <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
